<html xmlns:th="https://thymeleaf.org">  
<form action="#" th:action="@{/product/add}" th:object="${product}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name"/>
    <label for="Price">price</label>
    <input type="text" th:field="*{price}" id="price" placeholder="price"/>
    <label for="Description">description</label>
    <input type="text" th:field="*{description}" id="description" placeholder="description"/>
     <input type="submit" value="addproduct"/>   
</form>
</html>